.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .dark_wrapper {
    color: white;
  }
}

.dark_wrapper {
  color: white !important;
}

.light_wrapper {
  color: #232323 !important;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pi_container {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  flex-grow: 0;
  width: auto;
  padding: 15px 30px 15px 15px;
  border-radius: 20px;
  height: 160px;
  margin-right: 15px;
  overflow: hidden;
  min-width: 200px;
}

.pi_container_dark {
  background-color: #1a1a1a;
}

.pi_container_light {
  background-color: #eeeeee;
}

.pi_container_container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  overflow-x: auto;
  margin-top: 8px;
  padding: 8px;
}

.pi_id {
  margin: 0;
}
.pi_name {
  margin: 0;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.recently_connected_pis {
  margin-top: 32px;
  height: 100%;
}

.pi_connect_button {
  width: calc(100% + 15px);
}

.pi_status_indicator {
  width: calc(100% + 45px);
  height: 20px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  font-size: 16px;
}

.file_input::-webkit-file-upload-button {
  background: none;
  /*border: 1px solid white;*/
  border-radius: 5px;
  padding: 8px;
  /*color: white;*/
}

.file_input {
  font-family: "Chivo", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  font-weight: 200;
}

.exit_button {
  position: absolute;
  top: 2%;
  left: 93%;
  z-index: 99;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: red;
  color: white;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom_file_upload {
  display: inline-block;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 200;
  border-radius: 6px;
}

.upload_buttons_container {
  align-items: center;
  width: auto;
  justify-content: center;
}

.text_display_name {
  font-size: 36px;
  text-overflow: "ellipsis";
  overflow: "hidden";
  white-space: "nowrap";
}

.upper_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.view_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dropdown_modal_prompt {
  background: #232323;
}
.dropdown_modal_backdrop {
  background: white;
}
.dropdown_modal_body_dark {
  background: #232323;
}
.dropdown_modal_body_light {
  background: white;
}
.dropdown_modal_header_dark {
  background: #232323;
}
.dropdown_modal_header_light {
  background: white;
}

.pencil_edit_button {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.pencil_edit_button:hover {
  cursor: pointer;
}

.dropdown_modal_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 650px;
}

@media screen and (max-width: 768px) {
  .text_display_name {
    font-size: 24px;
  }
  .main {
    @media screen and (max-width: 768px) {
    }

    height: 200vh;
  }
  /*.upper_section {
    margin-top: -64px;
  }*/
  .recently_connected_pis {
    position: relative;
  }
  .recently_connected_pis_content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .dropdown_modal_body {
    height: 70vh;
  }
}

@media screen and (max-width: 560px) {
  .display_name_and_email {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 280px) {
  .upper_section {
    width: 100vw;
  }
}
