.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .dark_wrapper {
    color: white;
  }
}

.dark_wrapper {
  color: white !important;
}

.light_wrapper {
  color: #232323 !important;
}

.wrapper_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.watch_video {
  height: 50vw;
  max-width: 90vw;
  position: relative;
  z-index: 0;
  margin-bottom: 40px;
}

.watch_video_dark {
  box-shadow: 0 0 25px 0 #000000;
}

.watch_video_light {
  box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.1);
}

.watch_video_id {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  margin-right: 12px;
  margin-bottom: 0;
}

.watch_wrapper {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.display_none {
  display: none;
}

.watch_video_id_container {
  display: flex;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.bottom_wrapper {
  padding: 25px;
}

.dropdown_modal_prompt {
  background: #232323;
}

.dropdown_modal_backdrop {
  background: white;
}

.dropdown_modal_body_dark {
  background: #232323;
}
.dropdown_modal_body_light {
  background: white;
}
.dropdown_modal_header_dark {
  background: #232323;
}
.dropdown_modal_header_light {
  background: white;
}

.whitelist_id_input_group {
  width: 50vw;
}

.id_of_whitelisted_user {
  border: 0;
  background: 0;
  font-weight: bold;
  border-radius: 10px;
}

.id_of_whitelisted_user_light:hover {
  background: #232323;
  color: white;
  cursor: pointer;
}

.id_of_whitelisted_user_dark {
  color: white;
}

.id_of_whitelisted_user_dark:hover {
  background: white;
  color: #232323;
  cursor: pointer;
}
