.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  height: 99%;
  width: 100%;
}

.content_wrapper {
  width: clamp(50px, 100%, 600px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.view_one {
  height: 100vh;
}

@media screen and (max-width: 480px) {
  .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .form_input {
    width: 90vw;
  }

  #email {
    width: 100%;
  }
  .reset_password_button {
    width: 90vw;
  }
}
